h1 {
	text-align: center;
}

#p01 { 
	color: red;
}

#p02 {
	color: blue;
}

#p03 {
	color: green;
}

#p04 {
	font-size: 50px;
}

#p05 {
	font-size: smaller;
}

#p06 {
	text-align: center;
}

#p07 {
	font-weight: bold;
}

#p08 {
	font-family: cursive;
}

#p09 {
	font-weight: bold;
	color: orange;
	font-size: 20px;
}

#p10 {
	color: green
}

#styledImage {
	border-style: groove;
}